@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins"sans-serif;
}

.main_bg{
    background-image: url(assets/background.jpg);
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
   
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
  
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
   
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
   
    color: #fff;
    font-size: 25px;
}

.btnn{
    width: 100%;
    cursor: pointer;
}

.btnn button{
    
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: yellow !important;
    color: black !important;
    transition: all .3s;

    border-radius: 40px;
    position:absolute;

}



@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}

#name
{
    transition: 10s;
}



.message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}



 /*  for navigation bar */
header {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("assets/background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--extra-light);
}

.nav__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 1.5rem 5px;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.link span {
  padding: 1rem 0;
  color: var(--white);
  cursor: pointer;
}

.header__container {
  padding: 12rem 1rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-size: 4rem;
  font-family: var(--header-font);
}

.header__container h4 {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.header__container h4::after {
  position: absolute;
  content: "";
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 2rem;
  background-color: var(--white);
}

.media-scroller {
  --spacer: 1rem;
display: grid;
gap: var(--spacer);
grid-auto-flow: column;
grid-auto-columns: 21%;
overflow-x: auto;
overscroll-behavior-inline: hidden;
margin-bottom: 5rem;
margin-left: 2rem;
}

.media-scroller::-webkit-scrollbar
{
  display: none;
}

#section-title
{
  margin-left: 3rem;
}

.media-element {
display: grid;
grid-template-rows: min-content;
gap: var(--spacer);
padding: var(--spacer);
background: var(--surface-2);
border-radius: var(--radius-2);
transition: 5s;
}
.media-element > img {
inline-size: 100%;
aspect-ratio: 8 / 8;
object-fit: cover;
}

.media-element:hover
{
  transform: scale(1.3);
  z-index: 2;
}
#pil
{
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

body{
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
}


:root {
  --primary-color: #0a0d14;
  --primary-color-light: #20242f;
  --secondary-color: #f49e09;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}


a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}
